$bg-dark: #313131;
$purple: #b363ff;

body {
  display: flex;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;

  *:not(.generated-rendered-block) {
    font-family: Arial;
  }

  #mm, #pt {
    position: absolute;
    left: -10px;
  }

  #mm {
    top: -200mm;
    height: 100mm;
  }

  #pt {
    top: -200pt;
    height: 100pt;
  }

  .generated-rendered-block {
    &.spread {
      background-color: white;
    }
  }

  .block {
    height: 100vh;
    border: 2px solid black;
    background-color: $bg-dark;

    &#spreads {
      display: flex;
      flex-direction: column;
      width: 20vw;

      .spread-item {
        position: relative;
        width: 20vw;
        height: calc(20vw * 297 / 420);
        margin-bottom: 10px;
        cursor: pointer;

        .spread-preview {
          position: absolute;
          top: 0;
          left: 0;
          width: inherit;
          height: inherit;

          * {
            transform-origin: top left;
          }
        }

        p {
          position: absolute;
          z-index: 10;
          bottom: -5px;
          left: 0;
          width: 100%;
          margin: 0;
          text-align: center;
          color: rgba(255, 255, 255, 0.7);
        }
      }
    }

    &#preview {
      position: relative;
      overflow: hidden;
      width: 60vw;

      .preview-motion-container {
        position: absolute;
        transform-origin: top left;

        .selection-box {
          position: absolute;
          display: none;
          pointer-events: none;

          .selection-box-component {
            position: absolute;
            pointer-events: all;
            border-width: 1px;
            border-color: rgba(0, 0, 0, 0.8);

            $padding: 5px;

            &.selection-side-l {
              left: -$padding;
              width: $padding;
              height: 100%;
              border-right-style: solid;
            }

            &.selection-side-r {
              right: -$padding;
              width: $padding;
              height: 100%;
              border-left-style: solid;
            }

            &.selection-side-t {
              top: -$padding;
              width: 100%;
              height: $padding;
              border-bottom-style: solid;
            }

            &.selection-side-b {
              bottom: -$padding;
              width: 100%;
              height: $padding;
              border-top-style: solid;
            }
          }
        }
      }
    }

    &#data {
      overflow: auto;
      width: 20vw;
      color: white;
    }
  }
}